[data-layout="cta-panel"] {

	text-align: center;

	@media screen and (min-width: _breakpoint( medium ) ) {
		flex-direction: row;
		align-items: center;
		text-align: left;
	}

	> *:last-child {
		@media screen and (min-width: _breakpoint( medium ) ) {
			width: _columns( 4 );
			text-align: right;
		}
	}

	> *:first-child {

		margin-bottom: 0;

		h2 {
			margin-bottom: 0;
		}

		@media screen and (min-width: _breakpoint( medium ) ) {
			width: _columns( 8 );
			margin-bottom: _gutter( 1 );
		}
	}

}