[data-layout="intro"] {

	@media screen and ( min-width: _breakpoint( medium ) ) {
		flex-direction: row-reverse;
	}

	> *:first-child {
		@media screen and (min-width: _breakpoint( medium ) ) {
			width: _columns( 4 );
		}

		img {
			margin-top: -( _spacing-unit( 3.5 ) ); // This is offset by the margin on the band previous
			box-shadow: 2px 2px _spacing-unit( 2 ) rgba( 0, 0, 0, .1 );

			@media screen and (min-width: _breakpoint( medium ) ) {
				max-width: _calcrem( 700px );
			}
		}
	}

	> *:last-child {
		@media screen and (min-width: _breakpoint( medium ) ) {
			width: _columns( 8 );
			padding-right: _columns( .5 );
			align-self: bottom;
		}
	}

	.c-notify {
		margin-bottom: _spacing-unit( 1 );
	}

}